# pixi environments
.pixi
*.egg-info

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.env/
.envrc/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE/editor folders
.vscode/
.idea/
